<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="fab fa-github-square"></i></li></a>&nbsp;
		{%- endif -%}
		{%- if site.texture.social_links.linkedIn -%}
			<a href="https://linkedin.com/{{ site.texture.social_links.linkedIn }}"><li><i class="fab fa-linkedin"></i></li></a>&nbsp;
		{%- endif -%}
		{%- if site.texture.social_links.twitter -%}
			<a href="https://twitter.com/{{ site.texture.social_links.twitter }}"><li><i class="fab fa-twitter-square"></i></li></a>&nbsp;
		{%- endif -%}
		{%- if site.texture.social_links.instagram -%}
			<a href="https://instagram.com/{{ site.texture.social_links.instagram }}"><li><i class="fab fa-instagram-square"></i></li></a>&nbsp;
		{%- endif -%}
		{%- if site.texture.social_links.twitch -%}
			<a href="https://www.twitch.tv/{{ site.textture.social_links.twitch }}"><li><i class="fab fa-twitch"></i></li></a>&nbsp;
		{%- endif -%}
		{%- if site.texture.social_links.facebook -%}
			<a href="https://www.facebook.com/{{ site.texture.social_links.facebook }}"><li><i class="fab fa-facebook-square"></i></li></a>&nbsp;
		{%- endif -%}
	</ul>
</div>
